body
  min-width 1000px
  box-sizing border-box
  background #f9f7f6
  +sp()
    min-width auto
    padding 0

main
  font-family "Noto Sans CJK JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  line-height 1
  display block

  img
    width 100%

*:fous
  outline none
