@import 'loading'

.p-top
  color #2c4a70
  *
    box-sizing border-box
  &__header
    &__title
      font-weight bold
      position relative
      +pc()
        display flex
        justify-content center
        font-size pcvw(78)
        padding-bottom pcvw(80)
      +sp()
        display flex
        justify-content center
        font-size spvw(64)
        padding-bottom spvw(50)
      &:after
        content ""
        display block
        position absolute
        bottom 0
        left auto
        right auto
        background-color #fad06c
        +pc()
          width pcvw(120)
          height pcvw(10)
        +sp()
          width spvw(120)
          height spvw(10)
    &__text
      +pc()
        font-size pcvw(28)
        margin-top pcvw(60)
        text-align center
        line-height 1.8
      +sp()
        font-size spvw(28)
        text-align center
        line-height 1.8
        padding 0 spvw(50)
        margin spvw(60) auto 0


  &__about
    +pc()
      margin-top pcvw(300)
    +sp()
      margin-top spvw(250)
    &__contents
      +pc()
        display flex
        width pcvw(2200)
        margin 0 auto
      +sp()
        padding 0 spvw(50)
        margin 0 auto
    &__item
      &--title
        +pc()
          width 47%
          padding-left pcvw(300)
      &--desc
        +pc()
          width 53%
        +sp()
          margin-top spvw(75)

    &__title
      font-weight bold
      +pc()
        font-size pcvw(88)
        line-height 1.6
      +sp()
        font-size spvw(72)
        line-height 1.4
    &__link
      +pc()
        margin-top pcvw(100)
      +sp()
        margin-top spvw(100)
        text-align center

    &__desc
      font-weight bold
      +pc()
        font-size pcvw(38)
        line-height 2.35
      +sp()
        font-size spvw(32)
        line-height 2

    &__img
      text-align center
      +pc()
        margin pcvw(140) auto 0
        width pcvw(2200)
      +sp()
        padding 0 spvw(50)
        margin spvw(90) auto 0


  &__course
    position relative
    +pc()
      width pcvw(2200)
      margin pcvw(300) auto 0
    +sp()
      margin-top spvw(100)
    &__introduction
      +pc()
        margin-top pcvw(100)
      &__list
        +pc()
          display flex
          flex-wrap wrap
          border solid pcvw(10) #d5e2ea
        +sp()
          margin-top spvw(100)
          border solid spvw(10) #d5e2ea
        &__item
          position relative
          +pc()
            width calc(100% / 3)
            padding pcvw(200) pcvw(70) pcvw(100)
            border-right solid pcvw(10) #d5e2ea
            margin-top -2px // vwでずれるborderの調整
          +sp()
            padding spvw(45) spvw(45) spvw(80)
            border-top solid spvw(10) #d5e2ea
            border-left solid spvw(10) #d5e2ea
            border-right solid spvw(10) #d5e2ea
            display flex
            flex-wrap wrap
            width 100%
          &:nth-child(1)
            +pc()
              width 50%
              padding-left pcvw(270)
              padding-right pcvw(140)
              padding-top pcvw(100)
              border-bottom solid pcvw(10) #d5e2ea
            .p-top__course__introduction__list__image
              +pc()
                margin-left pcvw(100)
                width pcvw(492)
          &:nth-child(2)
            +pc()
              width 50%
              padding-left pcvw(270)
              padding-right pcvw(140)
              padding-top pcvw(100)
              border-bottom solid pcvw(10) #d5e2ea
              border-right none
            .p-top__course__introduction__list__image
              +pc()
                margin-left pcvw(100)
                width pcvw(472)
          &:nth-child(3)
            .p-top__course__introduction__list__image
              +pc()
                width pcvw(439)
                margin-left auto
          &:nth-child(4)
            .p-top__course__introduction__list__image
              +pc()
                width pcvw(400)
                margin-left pcvw(130)
          &:nth-child(5)
            +pc()
              border-right none
            +sp()
              border-bottom solid spvw(10) #d5e2ea
            .p-top__course__introduction__list__image
              +pc()
                width pcvw(441)
                margin-left auto
        &__title
          +pc()
            position absolute
            font-weight bold
            font-size pcvw(56)
            -ms-writing-mode tb-rl
            writing-mode vertical-rl
            top pcvw(80)
            left pcvw(70)
          +sp()
            font-weight bold
            font-size spvw(56)
            width 100%
            text-align center
            order 2
        &__image
          +pc()
            height pcvw(327)
            text-align center
          +sp()
            display flex
            align-items center
            justify-content center
            width 100%
            height spvw(395)
            order 1
            .is-001 & img
              width spvw(342)
            .is-002 & img
              width spvw(326)
            .is-003 & img
              width spvw(333)
            .is-004 & img
              width spvw(334)
            .is-005 & img
              width spvw(341)
        &__text
          +pc()
            font-size pcvw(28)
            line-height 1.7
            margin-top pcvw(70)
          +sp()
            font-size spvw(28)
            line-height 1.7
            margin-top spvw(54)
            order 3
        &__anchor
          +pc()
            display inline-block
            font-size pcvw(28)
            color #2c4a70
            font-weight bold
            letter-spacing 0.04em
            margin-top pcvw(32)
          +sp()
            display inline-block
            font-size spvw(28)
            color #2c4a70
            font-weight bold
            letter-spacing 0.04em
            margin spvw(45) auto 0
            order 4
          &__arrow
            +pc()
              position relative
              width pcvw(34)
              height pcvw(34)
              display inline-block
              vertical-align middle
              margin-right pcvw(18)
              background-image url('/assets/images/common/ico-arrow-navy.svg')
              background-repeat no-repeat
              background-position center
              background-size pcvw(32)
            +sp()
              position relative
              width spvw(36)
              height spvw(36)
              display inline-block
              vertical-align middle
              margin-right spvw(20)
              background-image url('/assets/images/common/ico-arrow-navy.svg')
              background-repeat no-repeat
              background-position center
              background-size spvw(34)
              transform translateY(-0.25vw)
        &__anchor
          .p-top__course__introduction__list__anchor__arrow
            +pc()
              opacity 1
              transform translate3d(0, -0.05vw, 0)
              transition transform 0.15s ease-out
              backface-visibility hidden
        &__anchor:hover
          .p-top__course__introduction__list__anchor__arrow
            +pc()
              opacity 1
              transform translate3d(20%, -0.05vw, 0)
              transition transform 0.15s ease-out
              backface-visibility hidden

    &__link
      text-align center
      +pc()
        margin-top pcvw(125)
      +sp()
        margin-top spvw(80)

  &__news
    position relative
    +pc()
      width pcvw(2200)
      margin pcvw(300) auto 0
    +sp()
      margin-top spvw(370)

    .c-article__list__item + .c-article__list__item
      +sp()
        margin-top 0
        margin-left spvw(30)

    .c-article__list
      +sp()
        overflow-x scroll
        white-space nowrap
        margin-right 0
        margin-left 0
        padding 0 spvw(50)

      &__item
        +sp()
          width spvw(560)
          display inline-block
        // & + &
        //   +sp()
        //     margin-top 0
        //     margin-left spvw(30)
        a
          +pc()
            hover_opacity()
      &__desc
        +sp()
          padding spvw(35) spvw(30)
        &__title
          +sp()
            font-size spvw(28)
            white-space break-spaces
        &__text
          +sp()
            font-size spvw(24)
            white-space break-spaces

    // .c-article__list__item + .c-article__list__item
    // .c-article__list__desc
    //   +sp()
    //     padding spvw(35) spvw(30)


    &__link
      font-weight bold
      +pc()
        text-align center
        margin-top pcvw(80)
        font-size pcvw(32)
        color red
      +sp()
        display flex
        justify-content center
        margin-top spvw(100)
        font-size spvw(32)
      a
        display inline-block
        position relative
        color #2c4a70
        +pc()
          padding-left 27px
        +sp()
          padding-left spvw(60)
        .p-top__news__link__arrow
          +pc()
            transition transform 0.25s ease-out
            backface-visibility hidden
        &:hover
          .p-topics__article__back__arrow
            &::before
              transform translate(-60%, -50%)
            &::after
              transform translate(-70%, -50%) rotate(-135deg)


      &__arrow
        background-color #0053a9
        display block
        position absolute
        top 50%
        +pc()
          width 20px
          height 20px
          border-radius 10px
          left -10px
        +sp()
          width spvw(40)
          height spvw(40)
          border-radius spvw(40)
          left 0
          transform translateY(-50%)
        .p-top__news__link a &
          +pc()
            transform translate3d(0%, -50%, 0)
            transition transform 0.25s ease-out
            backface-visibility hidden
        .p-top__news__link a:hover &
          +pc()
            transform translate3d(30%, -50%, 0)
            transition transform 0.25s ease-out
            backface-visibility hidden
        &::before
          content ""
          display block
          position absolute
          left 50%
          top 50%
          width 10px
          height 2px
          background #fff
          transform translate(-50%, -50%)
          transition all .5s ease
        &::after
          content ""
          display block
          position absolute
          left 55%
          top 50%
          width 5px
          height 5px
          border-top 2px solid #fff
          border-right 2px solid #fff
          transform translate(-50%, -50%) rotate(45deg)
          transition all .5s ease

  &__activity
    position relative
    +pc()
      margin-top pcvw(400)
    +sp()
      margin-top spvw(280)
    &__contents
      +pc()
        width pcvw(2466)
        display flex
    &__lead
      +pc()
        width calc(1646 / 2466 * 100%)
        background-image url('/assets/images/top/pc/activity_lead_bg.png')
        background-size cover
        background-position left top
        background-repeat no-repeat
        padding pcvw(300) pcvw(266) pcvw(260)
      +sp()
        background-image url('/assets/images/top/pc/activity_lead_bg.png')
        background-size cover
        background-position center
        background-repeat no-repeat
        padding spvw(170) spvw(86) spvw(170) spvw(90)
      &__title
        color #fff
        font-weight bold
        +pc()
          font-size pcvw(78)
        +sp()
          font-size spvw(60)
          line-height 1.4
      &__text
        color #fff
        +pc()
          margin-top pcvw(80)
          font-size pcvw(30)
          line-height 1.7
        +sp()
          margin-top spvw(40)
          font-size spvw(28)
          line-height 1.829
      &__link
        +pc()
          margin-top pcvw(80)
        +sp()
          margin-top spvw(65)
    &__body
      max-width 500px
      +pc()
        width calc(820 / 2466 * 100%)
      +sp()
        width 100%
        text-align center
        max-height 60vh
        overflow hidden
        margin-top spvw(30)

  &__access
    +pc()
      position relative
      right 0
      width pcvw(2466)
      margin-top pcvw(200)
      margin-left auto
    +sp()
      margin-top spvw(130)
    &__contents
      +pc()
        display flex
    &__lead
      background-color #fff
      +pc()
        width calc(820 /2466 * 100%)
        padding 0 pcvw(120)
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
      +sp()
        padding 7vw spvw(50)
      &__title
        font-weight bold
        +pc()
          font-size pcvw(78)
        +sp()
          font-size spvw(64)
      &__name
        font-weight bold
        +pc()
          font-size pcvw(36)
          margin-top pcvw(90)
        +sp()
          font-size spvw(36)
          margin-top spvw(60)
        &.mb-0
          +sp()
            margin-top 0
      &__address
        +pc()
          font-size pcvw(28)
          margin-top pcvw(40)
        +sp()
          font-size spvw(28)
          margin-top spvw(40)
      &__business
        +pc()
          margin-top pcvw(60)
        +sp()
          margin-top spvw(50)
        &__item
          & + &
            +pc()
              margin-top pcvw(20)
            +sp()
              margin-top spvw(15)
        &__label
          display inline-block
          color #fff
          +pc()
            font-size pcvw(28)
            background-color #60b5e1
            padding pcvw(8) pcvw(40)
            border-radius pcvw(40)
          +sp()
            font-size spvw(28)
            background-color #60b5e1
            padding spvw(8) spvw(40)
            border-radius spvw(40)
        &__time
          +pc()
            font-size pcvw(28)
            margin-left pcvw(20)
          +sp()
            font-size spvw(28)
            margin-left spvw(30)
      &__caption
        +pc()
          font-size pcvw(24)
          margin-top pcvw(40)
        +sp()
          font-size spvw(22)
          margin-top spvw(50)

    &__map
      overflow hidden
      position relative
      height 0
      +pc()
        width calc(1646 /2466 * 100%)
        padding-top 28vw
      +sp()
        padding-top spvw(456)
      iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background #fff

  &__cv
    background-image url('/assets/images/top/pc/cv_bg.png')
    background-size cover
    background-position left top
    background-repeat repeat
    position relative
    +pc()
      padding pcvw(200) 0
      margin-top pcvw(460)
      margin-bottom pcvw(-60)
    +sp()
      padding spvw(240) 0
      margin-top spvw(240)
    &__tori
      display block
      position absolute
      background-size cover
      background-position left top
      background-repeat no-repeat
      z-index 2
      +pc()
        background-image url('/assets/images/top/pc/cv_character.png')
        width pcvw(797)
        height pcvw(406)
        top pcvw(-160)
        left 0
      +sp()
        background-image url('/assets/images/top/sp/cv_character.png')
        width spvw(558)
        height spvw(284)
        top spvw(-120)
        left 0
    &__tori__ashiato
      z-index 1
      +pc()
        background-size cover
        background-position left top
        background-repeat no-repeat
        width pcvw(797)
        height pcvw(406)
        position absolute
        top pcvw(-160)
        left 0
        opacity 0
        &.step1
          background-image url('/assets/images/top/pc/cv_character_ashiato_1.png')
        &.step2
          background-image url('/assets/images/top/pc/cv_character_ashiato_2.png')
        &.step3
          background-image url('/assets/images/top/pc/cv_character_ashiato_3.png')
      +sp()
        background-size cover
        background-position left top
        background-repeat no-repeat
        width spvw(558)
        height spvw(284)
        position absolute
        top spvw(-120)
        left 0
        opacity 0
        &.step1
          background-image url('/assets/images/top/sp/cv_character_ashiato_1.png')
        &.step2
          background-image url('/assets/images/top/sp/cv_character_ashiato_2.png')
        &.step3
          background-image url('/assets/images/top/sp/cv_character_ashiato_3.png')

    &__link
      text-align center

  &__footprints
    &.is-1
      +pc()
        position absolute
        bottom pcvw(-299)
        right pcvw(-234)
        width pcvw(906)
        height pcvw(530)
        z-index -1
      +sp()
        position absolute
        bottom spvw(-477)
        right spvw(12)
        width spvw(725)
        height spvw(424)
        z-index -1
    &.is-2
      +pc()
        position absolute
        bottom pcvw(-392)
        left pcvw(-92)
        width pcvw(1166)
        height pcvw(644)
        z-index -1
      +sp()
        position absolute
        bottom spvw(-241)
        left spvw(0)
        width spvw(750)
        height spvw(515)
        z-index -1
    &.is-3
      +pc()
        position absolute
        bottom pcvw(-173)
        right pcvw(32)
        width pcvw(907)
        height pcvw(531)
        z-index -1
    &__ashiato
      position absolute
      top 0
      left 0
      opacity 0

  .p-top__access__contents + .p-top__access__contents
    +pc()
      margin-top 5vw
