.p-contact__choicetype
  .p-contact__choicetype__title まずは、お問い合わせの種別をご選択ください
  .p-contact__choicetype__buttons
    ul.p-contact__choicetype__buttons__list
      li.p-contact__choicetype__buttons__list__item.is-active
        a(href="")
          .p-contact__choicetype__buttons__list__item__check
          .p-contact__choicetype__buttons__list__item__text 教室見学・体験申込
      li.p-contact__choicetype__buttons__list__item
        a(href="")
          .p-contact__choicetype__buttons__list__item__check
          .p-contact__choicetype__buttons__list__item__text 資料請求
      li.p-contact__choicetype__buttons__list__item
        a(href="")
          .p-contact__choicetype__buttons__list__item__check
          .p-contact__choicetype__buttons__list__item__text お問い合わせ
