.p-contact__form__area(data-contact-tab="target" data-contact-tab-target="3")
  .p-contact__form__caution
    .p-contact__form__caution__text 入力必須
  ul.p-contact__form__list
    li.p-contact__form__list__item(data-module="contactValidation")
      .p-contact__form__label.is-required おなまえ
      .p-contact__form__input
        input.p-contact__form__input__text(type="text" placeholder="例：コスモ太" data-contact-validation="input")

    li.p-contact__form__list__item
      .p-contact__form__label.is-required 電話番号
      .p-contact__form__input
        input.p-contact__form__input__text.is-small(type="text" placeholder="例：123-456-7890")

    li.p-contact__form__list__item
      .p-contact__form__label.is-required メールアドレス
      .p-contact__form__input
        input.p-contact__form__input__text(type="text" placeholder="例：cosmojuku@com")

    li.p-contact__form__list__item
      .p-contact__form__label.is-required メールアドレス（確認用）
      .p-contact__form__input
        input.p-contact__form__input__text(type="text" placeholder="例：cosmojuku@com")

    li.p-contact__form__list__item
      .p-contact__form__label お問い合わせ内容
      .p-contact__form__input
        textarea.p-contact__form__input__textarea(placeholder="お問い合わせ内容をご記入ください。")

  include ../../component/contact/_formAgree.pug

  .p-contact__button__area(data-contact-form-check="submit")
    a.c-button(href="#")
      .c-button__text
        p 入力内容を確認する
      .c-button__arrow
