.p-contact__form__agree
  .p-contact__form__agree__link
    a.p-contact__form__agree__link__text(href="" target="_blank") 個人情報の取り扱いについて
  .p-contact__form__agree__check
    label(for="01-A")
      input(type="checkbox" id="01-A" name="checkbox01" data-contact-form-check="target" data-contact-form-check-trigger="agree")
      |同意する
    
