.p-contact__line__contact
  .p-contact__line__contact__desc
    .p-contact__line__contact__title
      span.p-contact__line__contact__title__name LINE
      |でカンタンお問い合わせも！
    .p-contact__line__contact__text 
      |「友だち追加」ボタンのクリック、もしくは「QRコード」を読み取り。
      br
      |その後、LINEアプリが起動しますので、「追加」ボタンをクリック！
      br
      |友だち追加メッセージが届いたら、お気軽にメッセージをお送りください。
    .p-contact__line__contact__button
      a 
        img(src="/assets/images/contact/pc/line_contact_button.png", alt="")
  .p-contact__line__contact__reader
    .p-contact__line__contact__reader__img
      img(src="/assets/images/contact/pc/line_contact_reader.png", alt="")
