.c-footer
  .c-footer__inner
    .c-footer__logo
      img(src="/assets/images/common/logo.png", alt="ロゴ")
    .c-footer__links
      .c-footer__links__content
        p コスモジュクについて
        ul.c-footer__links__list
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/about/")
              |コスモジュクとは
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/flow/")
              |入塾までの流れ・よくあるご質問
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/teachers/")
              |講師・教室紹介
      .c-footer__links__content
        p コース・料金
        ul.c-footer__links__list
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/course/")
              |オリジナルコース
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/course/")
              |チュートリアルコース
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/course/")
              |南中コース
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/course/")
              |大学受験コース
          li.c-footer__links__item
            a.c-footer__links__item__text(href="/course/")
              |オンラインコース
      .c-footer__links__content.is-exception
        a.c-footer__links__exception(href="/topics/")
          |コスモニュース
        a.c-footer__links__exception(href="/contact/")
          |企業情報
        a.c-footer__links__exception(href="/company/")
          |お問い合わせ
        .c-footer__sns.u-is-pc
          ul.c-footer__sns__list
            li.c-footer__sns__item
              a(href="https://www.youtube.com/channel/UCHZXaBdmvx2uWLJ5u5ZMQNA" target="_blank" rel="noopener")
                img(src="/assets/images/common/ico-yt.png", alt="YouTube")
            li.c-footer__sns__item
              a(href="https://www.facebook.com/4919cosmojuku" target="_blank" rel="noopener")
                img(src="/assets/images/common/ico-fb.png", alt="Facebook")
            li.c-footer__sns__item
              a(href="https://line.me/R/ti/p/%40oga7119c" target="_blank" rel="noopener")
                img(src="/assets/images/common/ico-line.png", alt="LINE")
    p.c-footer__copyright
      |&copy; 2020 Cosmo Original Co., Ltd.
