.c-header
  .c-header__inner
    a.c-header__logo(href="/")
      img(src="/assets/images/common/logo.png", alt="ロゴ")
    .c-header__links.u-is-pc
      .c-header__links__inner
        ul.c-header__links__list
          li.c-header__links__item(data-module="currentActive" data-options={ name: 'top' })
            a.c-header__links__page(href="/")
              |トップ
          li.c-header__links__item.has-second(data-module="currentActive" data-options={ name: 'about' })
            a.c-header__links__page(href="javascript:void(0)")
              |コスモジュクについて
            .c-header__links__second
              .c-header__links__second__inner
                ul.c-header__links__second__list
                  li.c-header__links__second__item
                    a.c-header__links__second__item__button(href="/about/")
                      |コスモジュクとは
                  li.c-header__links__second__item
                    a.c-header__links__second__item__button(href="/flow/")
                      |入塾までの流れ・よくあるご質問
                  li.c-header__links__second__item
                    a.c-header__links__second__item__button(href="/teachers/")
                      |講師・教室紹介

          li.c-header__links__item(data-module="currentActive" data-options={ name: 'course' })
            a.c-header__links__page(href="/course/")
              |コース・料金
          li.c-header__links__item(data-module="currentActive" data-options={ name: 'topics' })
            a.c-header__links__page(href="/topics/")
              |コスモNEWS
        .c-header__links__contacus
          a.c-button.c-button-small(href="/contact/")
            .c-button__text
              p お問い合わせ
            .c-button__arrow

    .c-header__links.u-is-sp(data-module-hamburger-roll="target")
      .c-header__links__inner
        ul.c-header__links__list
          li.c-header__links__item.is-top
            a.c-header__links__page(href="/")
              |トップ
          li.c-header__links__item.is-about
            .c-header__links__page
              |コスモジュクについて
              .c-header__links__second
                .c-header__links__second__inner
                  ul.c-header__links__second__list
                    li.c-header__links__second__item
                      a.c-header__links__second__item__button(href="/about/")
                        |コスモジュクとは
                    li.c-header__links__second__item
                      a.c-header__links__second__item__button(href="/flow/")
                        |入塾までの流れ・よくあるご質問
                    li.c-header__links__second__item
                      a.c-header__links__second__item__button(href="/teachers/")
                        |講師・教室紹介

          li.c-header__links__item.is-course
            a.c-header__links__page(href="/course/")
              |コース・料金
          li.c-header__links__item.is-topics
            a.c-header__links__page(href="/topics/")
              |コスモNEWS
        .c-header__links__contacus
          a.c-button.c-button-small(href="/contact/")
            .c-button__text
              p お問い合わせ
            .c-button__arrow

    a.c-header__hamburger.u-is-sp(href="javascript:void(0)" data-module="hamburger")
      .c-header__hamburger__line
