.c-section
  .c-section__inner
    .c-section__contents(class={ 'is-narrow' : pageTitleEN === 'ABOUT' })
      h1.p-heading
        p.p-heading__en
          |!{pageTitleEN}
        p.p-heading__jp
          |!{pageTitleJP}
