.c-section
  .c-section__inner
    .c-section__contents
      h1.p-heading
        p.p-heading__en
          |#{pageTitleEN}
        .p-topics__heading
          .p-topics__heading__jp
            p.p-heading__jp
              |#{pageTitleJP}
          .p-topics__heading__sort
            .p-topics__heading__sort__item.is-active すべて
            .p-topics__heading__sort__item お知らせ
            .p-topics__heading__sort__item 塾長日記
            .p-topics__heading__sort__item その他
