[data-module-flow-animation-roll]
  +pc()
    opacity 0
    transform translate3d(0, 50px, 0)
    backface-visibility hidden
  +sp()
    opacity 0
    transform translate3d(0, 40px, 0)
    backface-visibility hidden
