  .c-breadcrumb
    +pc()
      width  100%
      margin pcvw(240) auto pcvw(60)
    +sp()
      margin spvw(210) 0 spvw(50)
    &__list
      display flex
      &__item
        position relative
        color #2c4a70
        +pc()
          margin-left pcvw(30)
          font-size pcvw(24)
        +sp()
          margin-left spvw(25)
          font-size spvw(22)
        & a:visited
          color #2c4a70
        &:before
          content "-"
          display block
          position absolute
          +pc()
            left pcvw(-18)
          +sp()
            left spvw(-13)
        &:first-child
          margin-left 0
          &:before
            display none
