  .c-breadcrumb
    +pc()
      width  1110px
      margin 120px auto 30px
    +sp()
      margin spvw(210) spvw(50) spvw(50)
    &__list
      display flex
      &__item
        position relative
        +pc()
          margin-left 15px
          font-size 12px
        +sp()
          margin-left spvw(25)
          font-size spvw(22)
        &:before
          content "-"
          display block
          position absolute
          +pc()
            left -9px
          +sp()
            left spvw(-13)
        &:first-child
          margin-left 0
          &:before
            display none