.c-section
  width 100%

  &__inner
    width 100%

  &__contents
    width pcvw(2200)
    margin 0 auto
    +sp()
      width 100%
      padding 0 spvw(50)
      box-sizing border-box

    &.is-narrow
      +pc()
        padding 0 pcvw(220)
        box-sizing border-box

  &__heading
    display inline-block
    font-weight bold
    letter-spacing 0.02em
    color #2c4a70
    +pc()
      font-size pcvw(72)
    +sp()
      font-size spvw(56)

    span
      +pc()
        font-size pcvw(36)
      +sp()
        font-size spvw(28)
