extend ../../_template

block vars
  - title = '[記事名]｜コスモニュース｜コスモジュク'
  - description = ''
  - keywords = '塾,個別指導,集団授業,受験,コスモジュク,コスモ,上永谷,日限山,丸山台,舞岡,野庭,別所,上大岡,弘明寺,大久保,芹が谷'
  - img = 'http://cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://cosmojuku.com'

block main
  include ../../component/_header.pug

  .p-topics.is-detail
    include ../../component/topics/detail/_keyvisual.pug
    include ../../component/topics/detail/_headerPrimary.pug

    .p-topics__contents
      section
        include ../../component/topics/detail/_headerSecondary.pug
        include ../../component/topics/detail/_text.pug

      section
        include ../../component/topics/detail/_info.pug

      section
        include ../../component/topics/detail/_headerTertiary.pug
        include ../../component/topics/detail/_columnDouble.pug

      section
        include ../../component/topics/detail/_headerQuaternary.pug
        include ../../component/topics/detail/_text.pug
        include ../../component/topics/detail/_columnDoubleImg.pug
        include ../../component/topics/detail/_columnDoubleText.pug

      section
        include ../../component/topics/detail/_movie.pug

      section
        include ../../component/topics/detail/_sns.pug

    section
      include ../../component/topics/detail/_latestArticle.pug

    section
      include ../../component/topics/detail/_breadcrumb.pug

  include ../../component/_footer.pug
