.p-company__handling__personal
  .p-company__handling__personal__title 個人情報の取り扱いについて
  .p-company__handling__personal__desc
    .p-company__handling__personal__text
      |コスモオリジナル（以下当社）では、皆様から取得した個人情報の重要性を認識し、保護することを当社の事業活動の基本であると共に経営上の最重要な課題の一つと考えています。
      br
      |皆様へ安心・安全・信頼のサービスを提供していくため、基本方針を定め全社員に周知徹底を図り、これを遵守しています。
    ul.p-company__handling__personal__list
      li.p-company__handling__personal__list__item
        .p-company__handling__personal__list__item__number 1.
        .p-company__handling__personal__list__item__text お客様から個人情報をご提供いただく場合には、あらかじめその目的を明示し、同目的のみで適切に使用させていただきます。
      li.p-company__handling__personal__list__item
        .p-company__handling__personal__list__item__number 2.
        .p-company__handling__personal__list__item__text お客様の個人情報を、お客様の同意を得ることなく、第三者に預託・提供することはありません。ただし法令により開示を求められた場合、または裁判所、警察等の公的機関から開示を求められた場合は、お客様の同意なく個人情報を開示することがあります。
      li.p-company__handling__personal__list__item
        .p-company__handling__personal__list__item__number 3.
        .p-company__handling__personal__list__item__text お客様からご本人の個人情報について確認・訂正・削除のご要望がありました場合には、速やかに対応いたします。その際は、第三者への情報漏洩及び、第三者による改ざん防止のため、お客様ご自身であることを確認させていただきます。
      li.p-company__handling__personal__list__item
        .p-company__handling__personal__list__item__number 4.
        .p-company__handling__personal__list__item__text お客様の個人情報は、紛失、破壊、改ざん、漏洩等の防止に努め、当社にて適切な管理のもとで安全に保管いたします。また万一の発生時には速やかな是正対策を実施いたします。

    .p-company__handling__personal__signature
      p 株式会社コスモオリジナル
      p 田野井大輝
