.p-company__information
  dl.p-company__information__table
    .p-company__information__table__line
      dt.p-company__information__table__lead 商　号
      dd.p-company__information__table__desc 株式会社コスモオリジナル

    .p-company__information__table__line
      dt.p-company__information__table__lead 設　立
      dd.p-company__information__table__desc 2018年5月1日

    .p-company__information__table__line
      dt.p-company__information__table__lead 資　本　金
      dd.p-company__information__table__desc 1,000,000円

    .p-company__information__table__line
      dt.p-company__information__table__lead 本社所在地
      dd.p-company__information__table__desc
        |〒233-0013
        br
        |神奈川県横浜市港南区丸山台四丁目9番19号 丸山台ハイツ201
        br
        |TEL:045-298-5026

    .p-company__information__table__line
      dt.p-company__information__table__lead 役　員
      dd.p-company__information__table__desc
        .p-company__information__table__officer
          .p-company__information__table__officer__position__JP 代表取締役
          .p-company__information__table__officer__position__EN CEO
          .p-company__information__table__officer__position__name 髙橋優也
        .p-company__information__table__officer
          .p-company__information__table__officer__position__JP 常務取締役
          .p-company__information__table__officer__position__EN COO
          .p-company__information__table__officer__position__name
            |田野井大輝
            br.u-is-sp
            |（コスモジュク塾長）
        .p-company__information__table__officer
          .p-company__information__table__officer__position__JP 取締役
          .p-company__information__table__officer__position__EN.u-is-pc
          .p-company__information__table__officer__position__name
            |三津世暉
            br.u-is-sp
            |（日限丸山台スクール教室長）

    .p-company__information__table__line
      dt.p-company__information__table__lead 主な営業所
      dd.p-company__information__table__desc
        .p-company__information__table__office
          .p-company__information__table__office__title コスモジュク
          .p-company__information__table__office__content
            .p-company__information__table__office__label 日限丸山台スクール
            .p-company__information__table__office__address
              |〒233-0013
              br
              |神奈川県横浜市港南区丸山台四丁目9番12号 吉川ビル104
              p.p-company__information__table__office__tel TEL:045-298-5026
          .p-company__information__table__office__content
            .p-company__information__table__office__label 別所弘明寺スクール
            .p-company__information__table__office__address
              |〒232-0064
              br
              |横浜市南区別所3-3-20
              p.p-company__information__table__office__tel TEL:045-299-0603

        .p-company__information__table__office
          .p-company__information__table__office__title ミライズコベツ
          .p-company__information__table__office__label 西小山教室
          .p-company__information__table__office__address
            |〒142-0062
            br
            |東京都品川区小山6-5-6 2F
            p.p-company__information__table__office__tel TEL:03-5751-8985

