.p-heading
  width 100%
  &__en
    font-weight 700
    letter-spacing 0.02em
    color #60b5e1
    +pc()
      font-size pcvw(32)
    +sp()
      font-size spvw(32)

  &__jp
    font-weight 700
    letter-spacing 0.02em
    color #2c4a70
    +pc()
      font-size pcvw(88)
    +sp()
      font-size spvw(60)
      line-height spvw(89.6)

  &__en + &__jp
    +pc()
      margin-top pcvw(60)
    +sp()
      margin-top spvw(30)
