@import 'company/'
@import 'contact/'
@import 'course/'
@import 'top/'
@import 'topics/'
@import 'topics/detal/'
@import 'mainvisual'
@import 'heading'
@import 'about'
@import 'flow'
@import 'chatbot'
@import 'teachers'
