.c-mainvisual
  width 100%
  +pc()
    margin-top pcvw(210)
    padding-bottom pcvw(100)
  +sp()
    margin-top spvw(140)

  &__content
    width 100%
    text-align right
    position relative

  &__movie
    display inline-block
    position relative
    overflow hidden
    z-index 2
    +pc()
      // width pcvw(2131) //ファーストビュー調整
      // height pcvw(1192) //ファーストビュー調整
      width pcvw(1800)
      height pcvw(950)
      border-radius pcvw(100) 0 0 pcvw(100)
    +sp()
      // width spvw(660) //ファーストビュー調整
      // height spvw(1072) //ファーストビュー調整
      width spvw(660)
      height spvw(900)
      border-radius spvw(100) 0 0 spvw(100)
    video
      position absolute
      height 100%
      +pc()
        top 0
        left 0
        width 100%
        transform scale(1.1)
      +sp()
        top 50%
        left 50%
        transform translate(-50%, -50%) scale(1.3)


  &__heading
    position absolute
    z-index 3
    text-align left
    +pc()
      // top pcvw(610) //ファーストビュー調整
      // right pcvw(1535) //ファーストビュー調整
      top pcvw(300)
      right pcvw(1600)
    +sp()
      // top spvw(834) //ファーストビュー調整
      top spvw(650)
      left spvw(50)

    &__copy
      +pc()
        // width pcvw(972) // ファーストビュー調整
        width pcvw(850)
      +sp()
        width spvw(535)

    &__lead
      font-weight bold
      color #2c4a70
      +pc()
        line-height 2.375
        font-size pcvw(32)
        // text-shadow 1px 2px 3px #fff, -1px -2px 3px #fff // ファーストビュー調整
      +sp()
        line-height 2
        font-size spvw(32)

    &__copy + &__lead
      +pc()
        // margin-top pcvw(145) //ファーストビュー調整
        margin-top pcvw(80)
      +sp()
        margin-top spvw(73)

  &__slide
    z-index 4
    +pc()
      position absolute
      // top pcvw(1014) ファーストビュー調整
      top pcvw(650)
      right pcvw(160)
      width pcvw(668)
    +sp()
      width spvw(650)
      margin spvw(498) auto 0

    &__list
      width 100%
      margin 0 !important

    &__item
      width 100%
      background #fff
      a
        outline none
      img
        +pc()
          opacity 1
          transition opacity 0.25s ease-out
    &__item:hover
      img
        +pc()
          opacity 0.7
          transition opacity 0.25s ease-out

  /*
  * slick slide style
  */
  .slick-slide
    +sp()
      height auto

  /*
  * slick arrow style
  */
  .slick-arrow
    border-radius 50%
    background #0053a9
    position absolute
    hover_opacity()
    +pc()
      width pcvw(40)
      height pcvw(40)
    +sp()
      width spvw(48)
      height spvw(48)
    &.slick-prev
      +pc()
        top pcvw(380)
        right pcvw(54)
        left auto
      +sp()
        top spvw(351)
        right spvw(85)
        left auto
      &::after
        transform translate(-50%, -50%) scale(-1, 1)
    &.slick-next
      +pc()
        top pcvw(380)
        right pcvw(0)
        left auto
      +sp()
        top spvw(351)
        right spvw(21)
        left auto
    &:hover, &:focus
      background #0053a9
    &::before
      content none
    &::after
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      display block
      content ""
      background-size 100%
      background-repeat no-repeat
      background-image url('/assets/images/top/slide/ico-slidearrow.svg')
      +pc()
        width pcvw(20)
        height pcvw(20)
      +sp()
        width spvw(24)
        height spvw(24)

  /*
  * slick dots style
  */
  .small-window-dots
    display flex
    justify-content space-between
    +pc()
      width pcvw(80)
      margin pcvw(41) 0 0
    +sp()
      width spvw(96)
      margin spvw(46) 0 0
    li
      display inline-block
      border-radius 50%
      overflow hidden
      background #d5e2ea
      +pc()
        width pcvw(16)
        height pcvw(16)
      +sp()
        width spvw(19)
        height spvw(19)
      &.slick-active
        background #0053a9
    button
      appearance none
      border none
      padding 0
      font-size 0


