// -------------------------------
// LPスタイル
// -------------------------------
.p-lp
  overflow hidden
  color #2c4a70
  +pc()
    margin-top pcvw(210)
  +sp()
    margin-top spvw(140)
  a
    color inherit
    transition all .5s ease
    &:hover
      opacity 0.7
  img
    width 100%
    height auto

  // ----------------------
  // 汎用コンポーネント
  // ----------------------
  &__label
    display inline-block
    color #2c4a70
    font-weight bold
    background-color #fad06c
    +pc()
      padding pcvw(30)
      letter-spacing 0.04em
      font-size pcvw(24)
    +sp()
      padding spvw(30)
      font-size spvw(24)
  &__title
    position relative
    text-align center
    +pc()
      margin 0 auto
      font-size pcvw(72)
      line-height pcvw(100.8)
      letter-spacing 0.02em
      padding-bottom pcvw(50)
    +sp()
      margin 0 auto
      font-size spvw(44)
      line-height spvw(70.4)
      letter-spacing 0.02em
      padding-bottom spvw(50)
    &:after
      content ""
      display block
      position absolute
      bottom 0
      left 50%
      transform translateX(-50%)
      background-color #fad06c
      +pc()
        height pcvw(10)
        width pcvw(120)
      +sp()
        height spvw(10)
        width spvw(120)

  // ----------------------
  // メインビジュアル
  // ----------------------
  &__kv
    margin auto
    +pc()
      width pcvw(2200)
    +sp()
      width 100vw

  // ----------------------
  // リード分
  // ----------------------
  &__lead
    +pc()
      width 100%
      margin pcvw(148) auto 0
    +sp()
      width 100%
      margin spvw(120) auto 0
    &__inner
      margin auto
      +pc()
        width pcvw(1760)
      +sp()
        width 100%
    &__text
      width 100%
      letter-spacing 0.02em
      font-weight bold
      color #0054a5
      text-align center
      +pc()
        font-size pcvw(92)
        line-height pcvw(147.2)
      +sp()
        font-size spvw(44)
        line-height spvw(70.4)
    &__contents
      +pc()
        margin-left pcvw(-90)
        margin-right pcvw(-90)
      +sp()
        width 100%
    &__points
      +pc()
        width 100%
        display flex
        justify-content space-around
        margin pcvw(100) auto 0
        text-align center
      +sp()
        width 100%
        margin spvw(70) auto 0
      &__item
        +pc()
          width pcvw(494)
        +sp()
          width 100%
          display flex
          justify-content space-between
        &__image
          overflow hidden
          border-radius 50%
          +pc()
            width pcvw(390)
            margin auto
          +sp()
            width spvw(234)
        &__text
          +sp()
            width spvw(368)
          &__heading
            font-weight bold
            color #0054a5
            letter-spacing 0.02em
            +pc()
              margin pcvw(46) auto 0
              font-size pcvw(60)
              line-height pcvw(84)
              text-align center
            +sp()
              font-size spvw(44)
              line-height spvw(70.4)
              text-align left
          &__lead
            letter-spacing 0.02em
            +pc()
              margin-top pcvw(34)
              font-size pcvw(36)
              line-height pcvw(57.6)
              text-align center
              color #2c4a70
            +sp()
              margin-top spvw(8)
              font-size spvw(28)
              line-height spvw(51.17)
              text-align left
      &__item + &__item
        +sp()
          margin-top spvw(62)

  // ----------------------
  // ブルー敷エリア
  // ----------------------
  &__blueback
    background-color #60b5e1
    width 100%
    position relative
    +pc()
      margin-top pcvw(230)
      padding pcvw(280) 0 pcvw(230)
      display block
    +sp()
      margin-top spvw(150)
      padding spvw(175) 0 spvw(210)
    &__title
      color #fff
      +sp()
        width spvw(650)
    &__content
      +pc()
        display flex
        width pcvw(1760)
        margin pcvw(130) auto 0
      +sp()
        width spvw(650)
        margin spvw(50) auto 0
      & + &
        +pc()
          margin-top pcvw(80)
        +sp()
          margin-top spvw(90)
      &__item
        +pc()
          width 50%
        & + &
          +sp()
            margin-top spvw(45)
      &__image
        +pc()
          padding-left pcvw(100)
        +sp()
          display block
      &__title
        color #fff
        font-weight bold
        +pc()
          font-size pcvw(72)
          line-height pcvw(100.8)
          margin-top pcvw(40)
        +sp()
          font-size spvw(44)
          line-height spvw(70.4)
          margin-top spvw(20)
      &__text
        color #fff
        +pc()
          font-size pcvw(36)
          line-height pcvw(57.6)
          letter-spacing 0.02em
          margin-top pcvw(40)
        +sp()
          font-size spvw(28)
          line-height spvw(51.2)
          letter-spacing 0.02em
          margin-top spvw(20)

  // ----------------------
  // グレー敷エリア
  // ----------------------
  &__grayback
    background-color #f6f2ee
    width 100vw
    position relative
    +pc()
      padding pcvw(290) 0 pcvw(230)
    +sp()
      padding spvw(170) 0
    &__title
      color #0054a5
    &__content
      +pc()
        width pcvw(1760)
        margin pcvw(90) auto 0
      +sp()
        width spvw(650)
        margin spvw(60) auto 0
      & + &
        +pc()
          margin-top pcvw(90)
        +sp()
          margin-top spvw(65)
      &__title
        color #0054a5
        font-weight bold
        letter-spacing 0.02em
        +pc()
          font-size pcvw(72)
          line-height pcvw(100.8)
          margin-top pcvw(45)
        +sp()
          font-size spvw(44)
          line-height spvw(70.4)
          margin-top spvw(20)
      &__point
        color #2c4a70
        font-weight bold
        letter-spacing 0.02em
        +pc()
          line-height pcvw(57.6)
          font-size pcvw(36)
          margin-top pcvw(60)
        +sp()
          font-size spvw(28)
          line-height spvw(51.2)
          margin-top spvw(20)
          text-indent -1em
          padding-left 1em
        & + &
          +pc()
            margin-top pcvw(30)
          +sp()
            margin-top spvw(12)
      &__text
        letter-spacing 0.02em
        +pc()
          font-size pcvw(36)
          line-height pcvw(57.6)
          margin-top pcvw(35)
        +sp()
          font-size spvw(28)
          line-height spvw(51.2)
          margin-top spvw(20)

  // ----------------------
  // 汎用記事エリア
  // ----------------------
  &__article
    +pc()
      padding-top pcvw(300)
      padding-left pcvw(220)
      padding-right pcvw(220)
      box-sizing border-box
    +sp()
      padding-top spvw(170)
      box-sizing border-box
    &__title
      color #0054a5
    &__column__double
      +pc()
        display flex
        justify-content space-around
        margin-top pcvw(120)
        margin-left pcvw(-96)
        margin-right pcvw(-96)
      +sp()
        margin-top spvw(60)
      &__item
        +pc()
          width pcvw(784)
        +sp()
          width 100%
        &__image
          width 100%
        &__title
          color #0054a5
          font-weight bold
          +pc()
            font-size pcvw(36)
            line-height pcvw(57.63)
            letter-spacing 0.02em
          +sp()
            font-size spvw(44)
            line-height spvw(70.4)
            letter-spacing 0.02em
        &__text
          color #2c4a70
          +pc()
            font-size pcvw(32)
            line-height pcvw(57.63)
            letter-spacing 0.02em
          +sp()
            font-size spvw(28)
            line-height spvw(51.2)
            letter-spacing 0.02em
        &__image + &__title
          +pc()
            margin-top pcvw(35)
          +sp()
            margin-top spvw(20)
        &__title + &__text
          +pc()
            margin-top pcvw(24)
          +sp()
            margin-top spvw(20)
      &__item + &__item
        +sp()
          margin-top spvw(70)

    &__column__single
      &__item
        +pc()
          width 100%
          margin-top pcvw(120)
        +sp()
          width 100%
          margin-top spvw(60)
        &__title
          font-weight bold
          color #0054a5
          +pc()
            font-size pcvw(36)
            line-height pcvw(57.63)
            letter-spacing 0.02em
          +sp()
            font-size spvw(44)
            line-height spvw(70.4)
            letter-spacing 0.02em
        &__text
          +pc()
            font-size pcvw(32)
            line-height pcvw(57.56)
            letter-spacing 0.02em
          +sp()
            font-size spvw(28)
            line-height spvw(51.2)
            letter-spacing 0.02em
        &__title + &__text
          +pc()
            margin-top pcvw(24)
          +sp()
            margin-top spvw(20)
        &__text + &__text
          +pc()
            margin-top pcvw(50)
          +sp()
            margin-top spvw(40)
    &__column__single + &__column__double,
    &__column__double + &__column__single
      +pc()
        margin-top pcvw(120)
      +sp()
        margin-top spvw(60)
    &__column__single + &__column__single
      +pc()
        margin-top pcvw(120)
      +sp()
        margin-top spvw(60)
