extend ../_template

block vars
  - title = '[記事名]｜コスモニュース｜コスモジュク'
  - description = ''
  - keywords = ''
  - img = 'http://renewal.cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://renewal.cosmojuku.com'

block main
  include ../component/_header.pug

  .p-contact-confirmation
    .p-contact-confirmation__inner
      section
        include ../component/contact/confirmation/_headerPrimary.pug
        include ../component/contact/confirmation/_contactType.pug
        include ../component/contact/confirmation/_contentlist.pug

        .p-contact-confirmation__button__area
          .p-contact-confirmation__button__item
            a.c-button(href="#")
              .c-button__text
                p 送信する
              .c-button__arrow

          .p-contact-confirmation__button__item
            a.p-contact-confirmation__button(href="#")
              p 内容を修正する


  section
    include ../component/contact/_breadcrumb.pug


  include ../component/_footer.pug
