extend ../_template

block vars
  - title = 'お問い合わせ｜コスモジュク'
  - description = 'コスモジュクに関するご相談、教室見学や体験申込、資料のご請求など、何でもお気軽にお問い合わせください。LINEでカンタン問合せも受付中。'
  - keywords = '塾,個別指導,集団授業,受験,コスモジュク,コスモ,上永谷,日限山,丸山台,舞岡,野庭,別所,上大岡,弘明寺,大久保,芹が谷'
  - img = 'http://renewal.cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://renewal.cosmojuku.com'
  - pageTitleEN = 'CONTACT'
  - pageTitleJP = 'お問い合わせ'
  - currentPage = 'お問い合わせ'

block main
  include ../component/_header.pug

  .p-contact
    .p-contact__inner
      section
        include ../component/_heading.pug
        //- include ../component/contact/_headerPrimary.pug
        include ../component/contact/_headerPrimaryText.pug

      section
        include ../component/contact/_lineContact.pug

      section(data-module="contactTab")
        include ../component/contact/_choiceType.pug

        .p-contact__form
          include ../component/contact/_formApplication.pug
          include ../component/contact/_formDocument.pug
          include ../component/contact/_formInquary.pug

    include ../component/_breadcrumb.pug

  //- section
  //-   include ../component/contact/_breadcrumb.pug


  include ../component/_footer.pug
