extend ../_template

block vars
  - title = '[記事名]｜コスモNEWS｜コスモジュク'
  - description = ''
  - keywords = ''
  - img = 'http://localhost:3000/assets/images/share/ogp.jpg'
  - url = 'http://localhost:3000'

block main
  include ../component/_header.pug

  .p-contact
    .p-contact__inner
      section
        include ../component/contact/_headerPrimary.pug
        include ../component/contact/_headerPrimaryText.pug

      section
        include ../component/contact/_lineContact.pug

      section
        include ../component/contact/_choiceType.pug

        include ../component/contact/_formApplication.pug
        include ../component/contact/_formDocument.pug
        include ../component/contact/_formInquary.pug

        include ../component/contact/_formAgree.pug
        include ../component/contact/_button.pug

  section
    include ../component/contact/_breadcrumb.pug


  include ../component/_footer.pug
