.p-contact
  a
    // color inherit
    transition all .5s ease
    &:hover
      opacity 0.7
  color #2c4a70
  +pc()
    margin-top pcvw(360)
  +sp()
    margin spvw(210) spvw(50) 0
  img
    width 100%
    height auto
  *
    box-sizing border-box

  .c-section__contents
    +sp()
      padding 0

  &__inner
    +pc()
      margin 0 auto
      width pcvw(1760)

  &__header
    &__primary
      &__tag
        font-weight bold
        color #60b5e1
        +pc()
          font-size pcvw(32)
        +sp()
          font-size spvw(32)
      &__title
        font-weight bold
        +pc()
          font-size pcvw(88)
          margin-top pcvw(60)
        +sp()
          font-size spvw(60)
          margin-top spvw(30)
      &__text
        line-height 1.6
        +pc()
          font-size pcvw(32)
          margin-top pcvw(100)
        +sp()
          font-size 3.6vw
          margin-top spvw(100)

  &__line__contact
    background-color #fff
    +pc()
      display flex
      width 100%
      margin-top pcvw(70)
    +sp()
      width 100vw
      margin-left spvw(-50)
      margin-top spvw(80)
      padding spvw(90)
    &__desc
      +pc()
        padding pcvw(100)
        width 68%
    &__title
      font-weight bold
      +pc()
        font-size pcvw(32)
      +sp()
        font-size spvw(32)
      &__name
        color #00c300
        display inline-block
        +pc()
          font-size pcvw(52)
          padding-right  pcvw(20)
        +sp()
          font-size spvw(52)
          padding-right spvw(10)

    &__text
      +pc()
        font-size pcvw(28)
        line-height 1.6
        margin-top pcvw(40)
      +sp()
        font-size spvw(28)
        line-height 1.6
        margin-top spvw(50)
    &__button
      +pc()
        margin-top pcvw(50)
        width pcvw(360)
      +sp()
        margin-top spvw(40)
        width spvw(360)
      a
        display block
    &__reader
      display flex
      align-items center
      justify-content center
      background-color #e9eef2
      +pc()
        width 32%
      +sp()
        width spvw(350)
        height spvw(350)
        margin spvw(60) auto 0
      &__img
        +pc()
          width pcvw(250)
        +sp()
          width spvw(250)

  &__choicetype
    +pc()
      margin-top pcvw(160)
    +sp()
      margin-top spvw(150)

    &__title
      font-weight bold
      text-align center
      +pc()
        font-size pcvw(32)
      +sp()
        font-size spvw(28)

    &__buttons
      +pc()
        margin-top pcvw(100)
      +sp()
        margin-top spvw(60)
      &__list
        +pc()
          display flex
        &__item
          +pc()
            display flex
            width calc(100% / 3)
          +sp()
            display flex
            width 100%
          // a
          //   display flex
          //   width 100%
          &__check
            background-color #d5e2ea
            transition all .5s ease
            position relative
            +pc()
              width 24%
            +sp()
              width 17.5%
            &:after
              content ''
              display block
              position absolute
              top 50%
              left 50%
              transform translate(-50%, -50%)
              background-image url("/assets/images/contact/pc/choicetype_check.png")
              background-size contain
              background-repeat no-repeat
              +pc()
                width pcvw(50)
                height pcvw(42)
              +sp()
                width spvw(30)
                height spvw(24)

          &__text
            display flex
            align-items center
            justify-content center
            transition all .5s ease
            background-color #e9eef2
            color #aab0b8
            font-weight bold
            +pc()
              width 76%
              font-size pcvw(28)
              padding pcvw(50) 0
            +sp()
              font-size spvw(26)
              width 82.5%
              padding spvw(34) 0
          &.is-active
            .p-contact__choicetype__buttons__list__item__check
              background-color #fad06c
              &:after
                background-image url("/assets/images/contact/pc/choicetype_check_active.png")
            .p-contact__choicetype__buttons__list__item__text
              background-color #0053a9
              color #fff


  &__form
    +pc()
      margin-top pcvw(80)
    +sp()
      margin-top spvw(60)
    &__area
      display none
      &.is-active
        display block
    &__caution
      color #ff8880
      display flex
      justify-content flex-end
      +pc()
        font-size pcvw(24)
      +sp()
        font-size spvw(24)
      &__text
        position relative
        display inline-block
        &:after
          content "★"
          display block
          color #ff8880
          position absolute
          top 0
          +pc()
            font-size pcvw(20)
            left pcvw(-24)
          +sp()
            font-size spvw(10)
            left spvw(-20)

    &__error
      color #ff8880
      transition all .2s ease-out
      height 0
      +pc()
        font-size pcvw(24)
        margin-bottom 0
      +sp()
        font-size spvw(24)
        margin-bottom 0
      &.is-show
        +pc()
          font-size pcvw(24)
          margin-bottom pcvw(20)
          height pcvw(24)
        +sp()
          font-size spvw(24)
          margin-bottom spvw(20)
          height spvw(24)


    &__list
      +pc()
        margin-top pcvw(20)
      +sp()
        margin-top spvw(20)
      &__item
        & + &
          +pc()
            margin-top pcvw(30)
          +sp()
            margin-top spvw(30)

    &__label
      position relative
      display inline-block
      +pc()
        font-size pcvw(28)
      +sp()
        font-size spvw(32)
      &.is-required
        &:after
          content "★"
          display block
          color #ff8880
          position absolute
          top 0
          +pc()
            font-size pcvw(20)
            right pcvw(-24)
          +sp()
            font-size spvw(10)
            right spvw(-20)
    &__input
      &__text
        width 100%
        border none
        border solid 2px #fff
        transition all .5s ease
        +pc()
          padding pcvw(30) pcvw(50)
          font-size pcvw(32)
          border-radius pcvw(20)
          margin-top pcvw(20)
        +sp()
          padding spvw(30)
          font-size 3.5vw
          border-radius spvw(20)
          margin-top spvw(20)
        &::placeholder
          color #aab0b8
        &::-ms-input-placeholder
          color #aab0b8
        &:focus
          border solid 2px #fad06c
          z-index 10
          outline 0
          box-shadow: 0 0 5px 0 #d2d2d2

        &.is-small
          +pc()
            width pcvw(450)
          +sp()
            width spvw(450)

      &__textarea
        resize none
        border none
        border solid 2px #fff
        transition all .5s ease
        line-height 1.6
        +pc()
          width 100%
          height pcvw(300)
          padding pcvw(60) pcvw(50)
          font-size pcvw(32)
          border-radius pcvw(20)
          margin-top pcvw(20)
        +sp()
          width 100%
          height spvw(300)
          padding spvw(30)
          font-size 3.5vw
          border-radius spvw(20)
          margin-top spvw(20)
        &::placeholder
          color #aab0b8
        &::-ms-input-placeholder
          color #aab0b8
        &:focus
          border solid 2px #fad06c
          z-index 2
          outline 0
          box-shadow: 0 0 5px 0 #d2d2d2


    &__application
      display block
    &__document
      display none
    &__inquary
      display none

    &__agree
      +pc()
        margin-top pcvw(120)
      +sp()
        margin-top spvw(110)
      &__link
        text-align center
        &__text
          color #2c4a70
          position relative
          display inline-block
          +pc()
            font-size pcvw(24)
          +sp()
            font-size spvw(24)
          a
            display block
          &:after
            content ""
            display block
            position absolute
            top 50%
            transform translateY(-50%)
            background-image url("/assets/images/contact/pc/target_blank.png")
            background-size contain
            background-repeat no-repeat
            +pc()
              left pcvw(-44)
              width pcvw(24)
              height pcvw(24)
            +sp()
              left spvw(-40)
              width spvw(24)
              height spvw(24)


      &__check
        text-align center
        +pc()
          margin-top pcvw(40)
          font-size pcvw(32)
        +sp()
          margin-top spvw(40)
          font-size spvw(32)
        label
          position relative
          cursor pointer
          transition all .5s ease
          +pc()
            padding-left pcvw(90)
          +sp()
            padding-left spvw(90)

          &:hover
            opacity 0.7

          input[type="checkbox"]
            -webkit-appearance none
            -moz-appearance none
            &:before
              content ""
              position absolute
              top 50%
              transform translateY(-50%)
              z-index 1
              background-image url("/assets/images/contact/pc/form_check_off.png")
              background-size contain
              background-repeat no-repeat
              cursor pointer
              +pc()
                left pcvw(12)
                width pcvw(36)
                height pcvw(28)
              +sp()
                left spvw(12)
                width spvw(36)
                height spvw(28)
            &:after
              content ""
              position absolute
              top 50%
              left 0
              transform translateY(-50%)
              background-color #e9eef2
              cursor pointer
              +pc()
                width pcvw(60)
                height pcvw(60)
              +sp()
                width spvw(60)
                height spvw(60)
            &:checked
              &:before
                background-image url("/assets/images/contact/pc/form_check_on.png")
              &:after
                background-color #fad06c

  // &__breadcrumb
  //   +pc()
  //     width  1110px
  //     margin 120px auto 30px
  //   +sp()
  //     margin spvw(210) spvw(50) spvw(50)
  //   &__list
  //     display flex
  //     &__item
  //       position relative
  //       +pc()
  //         margin-left 15px
  //         font-size 12px
  //       +sp()
  //         margin-left spvw(25)
  //         font-size spvw(22)
  //       &:before
  //         content "-"
  //         display block
  //         position absolute
  //         +pc()
  //           left -9px
  //         +sp()
  //           left spvw(-13)
  //       &:first-child
  //         margin-left 0
  //         &:before
  //           display none


  &__button__area
    text-align center
    +pc()
      margin-top pcvw(80)
    +sp()
      margin-top spvw(60)
    .c-button
      pointer-events none
      opacity .5
    &.is-enabled .c-button
      pointer-events auto
      opacity 1

    // +pc()
    //   margin-top 40px
    // +sp()
    //   margin-top spvw(60)
    // a
    //   display flex
    //   justify-content center
    //   align-items center
    //   color #fff
    //   background linear-gradient(90deg,#0053a9 0%,#0053a9 80%,#fad06c 80%,#fad06c 100%)
    //   margin 0 auto
    //   position relative
    //   transition all .5s ease
    //   +pc()
    //     font-size pcvw(28)
    //     width pcvw(680)
    //     padding pcvw(50) 70px 25px 25px
    //     border-radius 40px
    //   +sp()
    //     font-size spvw(26)
    //     width spvw(530)
    //     padding spvw(40) spvw(120) spvw(40) spvw(40)
    //     border-radius spvw(100)
    //   &::after
    //     content ""
    //     display block
    //     position absolute
    //     top 50%
    //     transform translateY(-50%)
    //     transition all .5s ease
    //     background-image url("/assets/images/contact/pc/arrow.png")
    //     background-size contain
    //     background-repeat no-repeat
    //     +pc()
    //       right 31px
    //       width 12px
    //       height 12px
    //     +sp()
    //       right spvw(44)
    //       width spvw(24)
    //       height spvw(24)
    //   &:hover
    //     &:after
    //       +pc()
    //         right 21px
    //       +sp()
    //         right spvw(12)




// confirmation
.p-contact-confirmation
  color #2c4a70
  +pc()
    margin-top pcvw(400)
  +sp()
    margin spvw(210) spvw(50) 0 spvw(50)

  &__inner
    margin 0 auto
    max-width 880px
  &__header__primary
    &__title
      font-weight bold
      +pc()
        font-size pcvw(72)
      +sp()
        font-size spvw(60)
  &__contact__type
    background-color #f6f2ee
    +pc()
      margin-top pcvw(100)
      padding pcvw(40)
    +sp()
      margin-top spvw(80)
      padding spvw(40) spvw(30)
    &__label
      display inline-block
      color #fff
      background-color #2c4a70
      font-weight bold
      +pc()
        font-size pcvw(24)
        padding pcvw(15) pcvw(30)
        border-radius pcvw(30)
      +sp()
        font-size spvw(24)
        padding spvw(15) spvw(30)
        border-radius spvw(30)
    &__text
      display inline-block
      +pc()
        margin-left pcvw(30)
        font-size pcvw(32)
      +sp()
        margin-left spvw(30)
        font-size spvw(28)

  .p-contact__form__list

    .p-contact__form__list__item
      +pc()
        padding pcvw(40) pcvw(10)
      +sp()
        padding spvw(30) spvw(10)
      & + .p-contact__form__list__item
        border-top 1px solid #d5e2ea
        margin-top 0
    .p-contact__form__error
      display none

    .p-contact__form__label
      color #aab0b8
      +pc()
        font-size pcvw(28)
      +sp()
        font-size spvw(28)
      &:after
        display none

    .p-contact__form__input
      +pc()
        font-size pcvw(32)
        margin-top pcvw(20)
        line-height 1.6
      +sp()
        font-size spvw(32)
        margin-top spvw(20)
        line-height 1.6

  .p-contact__form__agree
    display none

  .c-button
    pointer-events initial
    opacity 1

    .c-button__text
      +pc()
        width pcvw(540)
      +sp()
        width spvw(420)
      p
        display none
      &:before
        display block
        content "送信する"
        color #fff
        z-index 99
        position relative



  &__content
    +pc()
      margin-top pcvw(30)
    +sp()
      margin-top spvw(40)
    &__list
      &__item
        +pc()
          padding pcvw(40) pcvw(10)
        +sp()
          padding spvw(30) spvw(10)
        & + &
          border-top 1px solid #d5e2ea
      &__lead
        color #aab0b8
        +pc()
          font-size pcvw(28)
        +sp()
          font-size spvw(28)
      &__text
        +pc()
          font-size pcvw(32)
          margin-top pcvw(20)
          line-height 1.6
        +sp()
          font-size spvw(32)
          margin-top spvw(20)
          line-height 1.6
  &__button
    display inline-block
    color #0053a9
    background-color #fff
    box-sizing border-box
    font-weight bold
    position relative
    overflow hidden
    z-index 2
    border none
    outline none
    transition color 0.2s ease-out
    +pc()
      font-size pcvw(28)
      padding pcvw(56) pcvw(112)
      border-radius pcvw(70)
      width pcvw(680)
      margin-top pcvw(40)
    +sp()
      font-size spvw(26)
      padding spvw(43) spvw(66)
      border-radius spvw(55)
      width spvw(530)
      margin-top spvw(30)
    &:hover
      color #fff
      z-index 3
    &::before
      content ""
      display block
      position absolute
      top 0
      left 0
      width calc(100% - 4px)
      height calc(100% - 4px)
      z-index -1
      border solid 2px #0053a9
      +pc()
        border-radius pcvw(70)
      +sp()
        border-radius spvw(55)
    &::after
      content ""
      display block
      position absolute
      top 0
      right -100%
      width 100%
      height 100%
      z-index -1
      transition right 0.2s ease-out
      background-color #0053a9
    &:hover::after
      right 0
    &__item
      & + &
        +pc()
          margin-top pcvw(40)
        +sp()
          margin-top spvw(30)
      .c-button__text
        +pc()
          width pcvw(540)
        +sp()
          width spvw(420)
    &__area
      text-align center
      +pc()
        margin-top pcvw(130)
      +sp()
        margin-top spvw(80)


// contact-finish
.p-contact-finish
  color #2c4a70
  +pc()
    margin-top pcvw(530)
  +sp()
    margin-top spvw(350)
  &__text
    text-align center
    line-height 1.6
    +pc()
      font-size pcvw(32)
    +sp()
      font-size spvw(28)
  &__button
    text-align center
    +pc()
      margin-top pcvw(170)
    +sp()
      margin-top spvw(90)
