.p-loading(data-module="loading")
  .p-loading__inner(data-module-loading-roll="inner")
    .p-loading__background(data-module-loading-roll="background")
    .p-loading__overlay(data-module-loading-roll="overlay")
      .p-loading__text(data-module-loading-roll="text")
        img(src="/assets/images/top/loading/txt-loading.png", alt="コスモジュク")
