.p-top__access
  .p-top__access__contents
    .p-top__access__lead
      .p-top__access__lead__title アクセス
      .p-top__access__lead__name 日限丸山台スクール
      .p-top__access__lead__address 横浜市港南区丸山台4-9-12 吉川ビル104
      ul.p-top__access__lead__business
        li.p-top__access__lead__business__item
          span.p-top__access__lead__business__label 平日
          span.p-top__access__lead__business__time 13：30～22：00
        li.p-top__access__lead__business__item
          span.p-top__access__lead__business__label 土曜
          span.p-top__access__lead__business__time 13：30～18：00
      .p-top__access__lead__caption ※日曜、祝日は休塾日

    .p-top__access__map.u-is-pc
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3252.3260010077197!2d139.56070251519384!3d35.39716915310578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185adbf04613c7%3A0xdce3c536334f1f9f!2z44CSMjMzLTAwMTMg56We5aWI5bed55yM5qiq5rWc5biC5riv5Y2X5Yy65Li45bGx5Y-w77yU5LiB55uu77yZ4oiS77yR77ySIOWQieW3neODk-ODqw!5e0!3m2!1sja!2sjp!4v1614060693957!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>





