.p-top__activity
  .p-top__activity__contents
    .p-top__activity__lead
      .p-top__activity__lead__title コスモジュクの活動
      .p-top__activity__lead__text
        |授業風景やイベント時の様子をFacebookに上げています。
        br
        |塾内のイメージや、お子様の日頃のご様子をぜひご覧ください！
      .p-top__activity__lead__link
        a.c-button(href="/contact/")
          .c-button__text
            p 公式facebookはこちら
          .c-button__arrow
    .p-top__activity__body
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F4919cosmojuku&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>



