.p-top__course
  .p-top__course_title コース・料金
  .p-top__course_text
  .p-top__course__introduction
    ul.p-top__course__introduction__list

      li.p-top__course__introduction__list__litem
        .p-top__course__introduction__list__title オリジナルコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/topics/detail/column_img_single.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。
          
      li.p-top__course__introduction__list__litem
        .p-top__course__introduction__list__title チュートリアルコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/topics/detail/column_img_single.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。

      li.p-top__course__introduction__list__litem
        .p-top__course__introduction__list__title 南中コース
        .p-top__course__introduction__list__image
          img(src="/assets/images/topics/detail/column_img_single.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。

      li.p-top__course__introduction__list__litem
        .p-top__course__introduction__list__title 大学受験コース
        .p-top__course__introduction__list__image
          img(src="/assets/images/topics/detail/column_img_single.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。

      li.p-top__course__introduction__list__litem
        .p-top__course__introduction__list__title オンラインコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/topics/detail/column_img_single.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。


