.p-top__access(
  data-module="scrollAnimation"
  data-options={
    root: null,
    rootMargin: '-25% 0%',
    threshold: [0],
    animation: 'fadeUp'
  }
)
  .p-top__access__contents
    .p-top__access__lead
      .p-top__access__lead__title アクセス
      .p-top__access__lead__name 日限丸山台スクール
      .p-top__access__lead__address 横浜市港南区丸山台4-9-12 吉川ビル104
      ul.p-top__access__lead__business
        li.p-top__access__lead__business__item
          span.p-top__access__lead__business__label 平日
          span.p-top__access__lead__business__time 13：30～22：00
        li.p-top__access__lead__business__item
          span.p-top__access__lead__business__label 土曜
          span.p-top__access__lead__business__time 13：30～18：00
      .p-top__access__lead__caption ※日曜、祝日は休塾日

    .p-top__access__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26014.30479555428!2d139.55647369923452!3d35.41050258651411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f1.1!3m3!1m2!1s0x60185b0f1de942ed%3A0x3a8da88d9718f461!2z44Kz44K544Oi44K444Ol44Kv!5e0!3m2!1sja!2sjp!4v1614094321236!5m2!1sja!2sjp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy")





