.p-top__cv
  .p-top__cv__link
    a.c-button(href="/contact/")
      .c-button__text
        p 体験授業・資料請求等はこちら
      .c-button__arrow
  .p-top__cv__tori(
    data-module="scrollAnimation"
    data-options={
      root: null,
      rootMargin: '20% 100%',
      threshold: [0],
      animation: 'tori'
    }
  )
  .p-top__cv__tori__ashiato.step1(data-module-roll="tori_no_ashiato_1")
  .p-top__cv__tori__ashiato.step2(data-module-roll="tori_no_ashiato_2")
  .p-top__cv__tori__ashiato.step3(data-module-roll="tori_no_ashiato_3")
