.p-top__activity(
  data-module="scrollAnimation"
  data-options={
    root: null,
    rootMargin: '-25% 0%',
    threshold: [0],
    animation: 'fadeUp'
  }
)
  .p-top__activity__contents(
    data-module="ashiato"
    data-options={
      'target': 'ashiato3',
      'setting': {
        root: null,
        rootMargin: '0% 0% -70% 0%',
        threshold: [0],
      }
    })
    .p-top__activity__lead(data-activity="target")
      .p-top__activity__lead__title
        |コスモジュクの活動
      .p-top__activity__lead__text
        |授業風景やイベント時の様子をFacebookに
        br.u-is-sp
        |上げています。
        br
        |塾内のイメージや、お子様の日頃のご様子をぜひご覧ください！
      .p-top__activity__lead__link
        a.c-button(href="https://www.facebook.com/4919cosmojuku" target="_blank")
          .c-button__text
            p 公式facebookはこちら
          .c-button__arrow
    .p-top__activity__body(data-module="FbActivity")

  .p-top__footprints.is-3.u-is-pc(data-module-ashiato-roll="ashiato3")
    - for (var i = 0; i < 9; i++)
      .p-top__footprints__ashiato(class=`is-${i}` data-module-ashiato-roll="ashiato3-children")
        img(src=`/assets/images/top/pc/ashiato-3_${i}.png`, alt="足跡")

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="cRV3lJ5n"></script>


