.p-top__news(
  data-module="scrollAnimation"
  data-options={
    root: null,
    rootMargin: '-25% 0%',
    threshold: [0],
    animation: 'fadeUp'
  }
)
  .p-top__news__footprints--top
    span
    span
    span
    span
    span
    span
    span
    span
  .p-top__news__footprints--bottom
    span
    span
    span
    span
    span
    span
    span
    span
    span
    span
  .p-top__header__title コスモニュース
  .p-top__header__text
    |コスモジュクからのお知らせや、
    br.u-is-sp
    |塾長・田野井のちょっと笑える日記も公開中！

  .u-is-pc
    ul.c-article__list
      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_1.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label お知らせ
            .c-article__list__desc__title 新型コロナウイルスへの対応について
            .c-article__list__desc__text 新型コロナウイルスにおける、緊急事態宣言が解除されましたが、東京都では連日100人超えの感染が確認されております。
            .c-article__list__desc__date yyyy.mm.dd

      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_2.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label 塾長日記
            .c-article__list__desc__title 間違い探し問題
            .c-article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
            .c-article__list__desc__date yyyy.mm.dd

      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_3.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label その他
            .c-article__list__desc__title 【2020年 夏期講習】申込受付中！！
            .c-article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
            .c-article__list__desc__date yyyy.mm.dd

  .u-is-sp
    ul.c-article__list
      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_1.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label お知らせ
            .c-article__list__desc__title 新型コロナウイルスへの対応について
            .c-article__list__desc__text 新型コロナウイルスにおける、緊急事態宣言が解除されましたが、東京都では連日100人超えの感染が確認されております。
            .c-article__list__desc__date yyyy.mm.dd

      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_2.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label 塾長日記
            .c-article__list__desc__title 間違い探し問題
            .c-article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
            .c-article__list__desc__date yyyy.mm.dd

      li.c-article__list__item
        a(href="/topics/")
          .c-article__list__img
            img(src="/assets/images/topics/detail/article_3.png", alt="")
          .c-article__list__desc
            .c-article__list__desc__label その他
            .c-article__list__desc__title 【2020年 夏期講習】申込受付中！！
            .c-article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
            .c-article__list__desc__date yyyy.mm.dd
  .p-top__news__link
    a(href="") 
      span.p-top__news__link__arrow
      |記事一覧をみる