extend ../_template

block vars
  - title = '[記事名]｜コスモNEWS｜コスモジュク'
  - description = ''
  - keywords = ''
  - img = 'http://localhost:3000/assets/images/share/ogp.jpg'
  - url = 'http://localhost:3000'
  - pageTitleEN = 'COURSE & PRICE'
  - pageTitleJP = 'コース紹介 & 料金案内'
  - currentPage = 'コース紹介 & 料金案内'

block main
  include ../component/_header.pug
  .p-course
    include ../component/_heading.pug

    section.c-section
      .c-section__inner
        .c-section__contents
          include ../component/course/_courseOriginal.pug
    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseTutorial.pug
    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseSouthJuniorHighSchool.pug
    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseUniversityEntranceExam.pug
    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseOnline.pug

    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseSupplement.pug

    section
      include ../component/_breadcrumb.pug

  include ../component/_footer.pug