extend ../_template

block vars
  - title = 'コース紹介＆料金案内｜コスモジュク'
  - description = 'コスモジュクでは生徒一人ひとりに適した学習指導ができるよう、5つのコースをご用意しております。それぞれのコースをかけ合わせることも可能です。ぜひ教室までご相談ください。'
  - keywords = '塾,個別指導,集団授業,受験,コスモジュク,コスモ,上永谷,日限山,丸山台,舞岡,野庭,別所,上大岡,弘明寺,大久保,芹が谷'
  - img = 'http://cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://cosmojuku.com'
  - pageTitleEN = 'COURSE & PRICE'
  - pageTitleJP = 'コース紹介 & 料金案内'
  - currentPage = 'コース紹介 & 料金案内'

block main
  include ../component/_header.pug
  .p-course(data-module="anchorlink", data-options={ pageName: 'course' })
    include ../component/_heading.pug

    section.c-section
      .c-section__inner#original_course
        .c-section__contents
          include ../component/course/_courseOriginal.pug
    section.c-section#tutorial_course
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseTutorial.pug
    section.c-section#south_junior_high_school_course
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseSouthJuniorHighSchool.pug
    section.c-section#university_entrance_exam_course
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseUniversityEntranceExam.pug
    section.c-section#online_course
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseOnline.pug

    section.c-section
      .c-section__inner
        .c-section__contents
            include ../component/course/_courseSupplement.pug

    section.c-section
      .c-section__inner
        .c-section__contents
          include ../component/_breadcrumb.pug

  include ../component/_footer.pug
