h3.p-lp__column__double--img
  .p-lp__column__double__item
    img(src="/assets/images/topics/detail/column_img_single.png", alt="")
  .p-lp__column__double__item
    img(src="/assets/images/topics/detail/column_img_single.png", alt="")
