.p-lp__column__double
  .p-lp__column__double__item
    .p-lp__column__double__item__image
      img(src="/assets/images/topics/detail/column_img_single.png", alt="")
    .p-lp__column__double__item__title 中見出しが入ります。中見出しが入ります。
    .p-lp__column__double__item__text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
  .p-lp__column__double__item
    .p-lp__column__double__item__image
      img(src="/assets/images/topics/detail/column_img_single.png", alt="")
    .p-lp__column__double__item__title 中見出しが入ります。中見出しが入ります。
    .p-lp__column__double__item__text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
