.p-lp__info 
  .p-lp__info__title
    |■テキスト大。強調。夏期講習期間
    br
    |8月3日（月）～8月29日（土）
  .p-lp__info__detail
    .p-lp__info__detail__text--em ※テキスト小：注意書き赤字。お盆期間（8月10日～15日）も授業を実施致します。
    .p-lp__info__detail__text ※テキスト小：注意書き通常。お盆期間（8月10日～15日）も授業を実施致します。

    
