.p-lp__sns 
  .p-lp__sns__twitter
    a(href="http://twitter.com/share?url=https://renewal.cosmojuku.com/topic/"  target="_blank")
      img(src="/assets/images/topics/detail/twitter.png", alt="")
    //- a(href="http://twitter.com/share?url=[シェアするURL]&text=[ツイート内テキスト]&via=[ツイート内に含むユーザ名]&related=[ツイート後に表示されるユーザー]&hashtags=[ハッシュタグ]"  target="_blank")


  .p-lp__sns__facebook
    a(href="http://www.facebook.com/share.php?u=https://renewal.cosmojuku.com/topic/&t=タイトル" target="_blank")
      img(src="/assets/images/topics/detail/facebook.png", alt="")
    //- a(href="http://www.facebook.com/share.php?u=「シェアしたいURL」&t=「タイトル」" target="_blank")
