.p-topics__latest__article
  .p-topics__latest__article__title 最新記事

  ul.p-topics__latest__article__list
    li.p-topics__latest__article__list__item
      a(href="")
        .p-topics__latest__article__list__img.is-category__info
          img(src="/assets/images/topics/detail/article_1.png", alt="")
        .p-topics__latest__article__list__desc
          .p-topics__latest__article__list__desc__label お知らせ
          .p-topics__latest__article__list__desc__title 新型コロナウイルスへの対応について
          .p-topics__latest__article__list__desc__text 新型コロナウイルスにおける、緊急事態宣言が解除されましたが、東京都では連日100人超えの感染が確認されております。
          .p-topics__latest__article__list__desc__date yyyy.mm.dd

    li.p-topics__latest__article__list__item
      a(href="")
        .p-topics__latest__article__list__img.is-category__diary
          img(src="/assets/images/topics/detail/article_2.png", alt="")
        .p-topics__latest__article__list__desc
          .p-topics__latest__article__list__desc__label 塾長日記
          .p-topics__latest__article__list__desc__title 間違い探し問題
          .p-topics__latest__article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
          .p-topics__latest__article__list__desc__date yyyy.mm.dd

    li.p-topics__latest__article__list__item
      a(href="")
        .p-topics__latest__article__list__img.is-category__other
          img(src="/assets/images/topics/detail/article_3.png", alt="")
        .p-topics__latest__article__list__desc
          .p-topics__latest__article__list__desc__label その他
          .p-topics__latest__article__list__desc__title 【2020年 夏期講習】申込受付中！！
          .p-topics__latest__article__list__desc__text 皆様のお手元には届いておりますでしょうか？今回は、間違い探しの正解発表です！と言いたいのですが、まだ届い
          .p-topics__latest__article__list__desc__date yyyy.mm.dd
    
  .p-topics__latest__article__back
    a(href="") 
      span.p-topics__latest__article__back__arrow
      |一覧へ戻る