.p-topics__sns 
  .p-topics__sns__twitter
    a(href="#")
      img(src="/assets/images/topics/detail/twitter.png", alt="")
  .p-topics__sns__facebook
    a(href="#")
      img(src="/assets/images/topics/detail/facebook.png", alt="")